#project
License.txt
install.txt
agent/
bin/
contexts/
etc/
/lib/
patches/
server.xml
start
start.jar
stop
LICENSES/
webroot/WEB-INF/
webroot/extensions/ext/*.zip
webroot/extensions/output/*.*
webroot/extensions/unames.xml
webroot/extensions/ext
webroot/extensions/mongodb-cache-extension/bin


#extensions
*.project
*.class
*.DS_Store
*.classpath
/.settings
